@model List<Request>

@if (TempData["Message"] != null)
{
    <h3 class="alert alert-info" style="margin-top:-70px"> @TempData["Message"]</h3>
}
@if (Model.Count == 0)
{
    <h3 class="alert alert-warning" style="margin-top:-50px">No requests have been sent at the moment</h3>
    <img style="margin-left: 220px" width="500" src="https://media.istockphoto.com/vectors/bored-businessman-or-office-worker-watching-wall-clock-vector-cartoon-vector-id1301219293?k=20&m=1301219293&s=612x612&w=0&h=NsmO9Zd0JsML5bC-h36LLVYPh4PzH5AQfVixi5eVuIw=" />
}else{
   
    <h3 class="container" style="text-align: center; color:   #278FF1  ">List of requests</h3>
    
    <div class="container col-md-9">
        <table class="table table-bordered container">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th colspan="2">Menu</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@(Model.IndexOf(request) + 1)</td>
                        <td>@request.Name</td>
                        <td>@request.Description</td>
                        <td>
                                <a asp-controller="Admin" asp-action="ApproveRequest" asp-route-id="@request.Id" class="btn btn-success">
                                <i class="fa-sharp fa-solid fa-check"></i>
                                </a>
                         </td>
                         <td>
                            <a asp-controller="Admin" asp-action="RejectRequest" asp-route-id="@request.Id" class="btn btn-danger" style="width:42px">
                                <i class="fa-sharp fa-solid fa-xmark"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
    



