@model List<Book>
@{
    Layout = "_Layout1";
}

<div class="container col-md-6 mt-4">
    <form class="search_form" method="post" asp-controller="Client" asp-action="Search" style="width:600px; margin-left:240px" >
        <input type="search" class="form-control" placeholder="Search here..." name="keyword" style="border: 2px solid #274D3C" required>
        <button class="" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</div>

@if(TempData["Message"] != null)
{
    <h3 class="alert-danger mt-5 text-center">@TempData["Message"]</h3>
}
else{
    <div class="container col-md-3 row mt-4">
        <div class="col-md-2">
            <h5 class="text-primary">Sort by name</h5>
            <a asp-controller="Client" asp-action="SortAscName" class="btn btn-primary"><i class="bi bi-sort-alpha-down"></i></a>
            <a asp-controller="Client" asp-action="SortDscName" class="btn btn-primary"><i class="bi bi-sort-alpha-up-alt"></i></a>
        </div>
        <div class="col-md-2">
            <h5 class="text-danger">Sort by Price</h5>
            <a asp-controller="Client" asp-action="SortAscPrice" class="btn btn-danger ">$ ↑</a>
            <a asp-controller="Client" asp-action="SortDscPrice" class="btn btn-danger ">$ ↓</a>
        </div>
    </div>

    @*<div class="card-group" style="padding: 20px; ">
    <div class="row" style="margin-left:200px" >
        @foreach (var books in Model)
        {
            <div class="card col-md-3 text-center" style=" border: 1px solid #274D3C; margin-left:1px; margin-top:10px  ">
                <img src="@books.Image" class="card-img-top" width="200" height="250">
                <div class="card-body">
                    <h5 class="card-title">@books.Title</h5>
                    <h5 class="card-title text-danger"><strong>$ @books.Price</strong></h5>
                    @if(books.Quantity >= 1)
                    {
                        <h6 class="card-title">Quantity: @books.Quantity</h6>
                        <input type="hidden" name="laptop" value="@books.Id">

                        <div>
                            <a class="btn btn-info" asp-controller="Client" asp-action="Detail" asp-route-id="@books.Id"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    }else{
                        <h6 class="card-title">Out of Stock. Please come back later.</h6>
                    }


                </div>
            </div>
        }
    </div>
</div>   *@


    <div class="container " style="padding: 20px; ">
        <div class="row" style="margin-right:-200px; margin-left:130px">
            @foreach (var books in Model)
            {
                <div class="card col-md-3 text-center" style=" border: 3px solid #274D3C; margin-right:10px; margin-top:10px  ">
                    <img src="@books.Image" class="card-img-top" width="200" height="300">
                    <div class="card-body">
                        <h5 class="card-title">@books.Title</h5>
                        <h5 class="card-title text-danger">Price:<strong>@books.Price $</strong></h5>
                        @if (books.Quantity == 0)
                        {
                            <h6 class="card-title">Out of Stock. Please come back later.</h6>

                        }
                        else
                        {
                            <div>
                                <a class="btn btn-info" asp-controller="Client" asp-action="Detail" asp-route-id="@books.Id"><i class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        }


                    </div>
                </div>
            }
        </div>
    </div>
}
 






	
				