@{
    Layout = "_Layout1";
}


<div class="container col-md-6 mt-4">
    <from class="search_form" style="width:600px; margin-left:240px" >
        <input type="text" class="form-control" placeholder="Search here..." style="border: 2px solid #274D3C   ">
        <button class="" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </from>
</div>
<div class="container" style="padding: 20px">
 
    <div class="row">
        @foreach (var books in Model)
        {
            <div class="card col-md-3 text-center mr-4 rounded-3" style="width: 18rem; border: 3px solid #274D3C ">
                <img src="@books.Image" class="card-img-top" width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title">@books.Title</h5>
                    <h5 class="card-title text-danger"><strong>$ @books.Price</strong></h5>
                    <h6 class="card-title">Quantity: @books.Quantity</h6>
                    <input type="hidden" name="laptop" value="@books.Id">
   
                    <div>
                        <a class="btn btn-info" asp-controller="Client" asp-action="Detail" asp-route-id="@books.Id">Order</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
